<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#">其他链接|Other<strong class="caret"></strong></a>
    <ul class="dropdown-menu">
        <li><a class="page-link" href="https://www.github.com/hunterhug">写代码|Github</a></li>
        <!--<li><a class="page-link" href="/other/album/index.html">看相册|Album</a></li>-->
        <!--<li><a class="page-link" href="/page/music.html">听音乐|Music</a></li>-->
        <li><a class="page-link" href="http://www.tybai.com">百哥么么哒</a></li>
        <!-- <li><a class="page-link" href="https://github.com/hunterhug">GitHub</a></li> -->
        <li><a class="page-link" href="/2048.html">打游戏|Game</a></li>
        <li class="divider"></li>
        <li><a a style="background: url('/static/jpg/newimg.png') no-repeat right top" class="page-link navbar-brand"  href="/page/open.html">开源项目|Open</a></li>
        <li><a class="page-link" href="/link.html">链接收录|Link</a></li>
        <li><a href="javascript:void(0)" onclick="dashangToggle()" class="dashang" title="打赏，支持一下">喂辣条</a></li>
        <li class="divider"></li>
        <li><a class="page-link"  href="/log.html">网站日志|Log</a></li>
        <li><a class="page-link" href="https://www.lenggirl.com/matlab.pdf">Matlab入门</a></li>
        <li><a class="page-link" href="/other/home/front/me/index.html">作品集|Home</a></li>
    </ul>
</li>
